.person {
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  max-width: 312px;
  position: relative;
  flex-shrink: 0;

  &:hover {
    cursor: url(../img/icon/pointer.svg), auto;
  }

  &__img {
    display: block;
    width: 312px;
    height: 320px;
    background: lightgray;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    padding: 24px 16px;
    text-align: center;
  }

  &__name {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__post {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
    margin-top: 10px;
  }

  &__name,
  &__post {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 990px) {
    max-width: 300px;
    &__img {
      width: 300px;
    }
  }
  @media (max-width: 540px) {
    max-width: 250px;
    &__name {
      max-width: 218px;
    }
    &__img {
      width: 250px;
    }
  }
}
