* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito Sans;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 69px;
  box-sizing: content-box;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  cursor: url(../img/icon/pointer.svg), auto;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #4f8ff0;
  }
}

.btn {
  cursor: url(../img/icon/pointer.svg), auto;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  color: #fff;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  transition: 0.5s;
  &:hover {
    background: #fff;
    color: #4f8ff0;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 834px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 392px;
    margin: 0 auto;
    padding: 0 25px;
  }
}
