.company {
  background: #fff;
  // display: none;

  &__content {
    padding: 80px 0 80px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #222;
    font-size: 28px;
    font-weight: 800;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
  }

  &__title span {
    color: #4f8ff0;
    font-size: 28px;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 37px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__img {
    box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
    display: block;
    width: 535px;
    height: 359px;
  }

  &__btns {
    display: flex;
    gap: 0 24px;
    margin-top: 32px;
  }

  @media (max-width: 990px) {
    &__img {
      display: none;
    }
    &__title {
      font-size: 24px;
    }
  }
  @media (max-width: 540px) {
    &__img {
      display: none;
    }
    &__title {
      font-size: 20px;
    }

    &__btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}
